name: Generate Recipe List

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  AWS_REGION : "eu-west-1"
  IAM_ROLE_ARN : "arn:aws:iam::068167017169:role/przepisy-cicd-role"
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  generate-list:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      id-token: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Generate recipe list
        run: |
          python generate_recipe_list.py
          
      - name: Check if there are changes
        id: verify-changed-files
        run: |
          if git diff --quiet; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
          
      - name: Commit and push if changed
        if: steps.verify-changed-files.outputs.changed == 'true'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add spis_przepisow.txt
          git commit -m "Auto-generate recipe list [skip ci]"
          git push
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: ${{ env.IAM_ROLE_ARN }}
            role-session-name: samplerolesession
            aws-region: ${{ env.AWS_REGION }}
      - name: Upload all files in repo to S3
        run: |
          aws s3 --region us-east-1 cp images s3://cookbook-recipes-068167017169/images --recursive
          aws s3 --region us-east-1 cp spis_przepisow.txt s3://cookbook-recipes-068167017169/spis_przepisow.txt
          for file in $(find . -name "*.md" -not -name "README.md" -exec basename {} \;)       
          do              
            aws --region us-east-1 s3 cp ${file} s3://cookbook-recipes-068167017169/${file}
          done
      - name: Start Bedrock Ingestion Job
        run: |
          KB_ID=L1LATMFC2C
          BUCKET_NAME=cookbook-recipes-068167017169
          DATA_SOURCE_ID=$(aws --region us-east-1 bedrock-agent list-data-sources --knowledge-base-id ${KB_ID} --query 'dataSourceSummaries[0].dataSourceId' --output text)
          aws --region us-east-1 bedrock-agent start-ingestion-job --knowledge-base-id ${KB_ID} --data-source-id ${DATA_SOURCE_ID} 
